@font-face {
    font-family: "Bebas Neue";
    src: url("../bebasNeue.ttf") format("opentype");
    font-weight: 700;
}
html{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
    margin: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
        margin: 0;
    }
}
.video{
    position: fixed;
    z-index: -1;
    min-width: 100vw;
    max-width: 100vw;
    overflow: hidden;
    min-height: 100vh;
    max-height: 100vh;
    .video-wrap{
        min-width: 100vw;
        min-height: 100vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: 50% 50%;
        transform: translate(-50%, -50%);
        video{
            min-width: 100vw;
            min-height: 100vh;
            
        }
    }
}
.burger{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    display: none;
    .burger-line{
        width: 25px;
        z-index: 5;
        height: 3px;
        background-color: #fff;
        margin-bottom: 5px;
        transition: .2s;
    }
    z-index: 5;
}
.mobile-menu{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.96);
    font-size: 30px;
    position: absolute;
    height: 100%; 
    min-height: 700px; 
    display: none;
    z-index: 4;
    transform: translateY(-100%);
    transition: .4s;
    visibility: hidden;
    ul{
        padding-top: 15px;
    }
    li{
        margin-top: 20px;
        text-align: center;
        a{
            transition: .2s;
            &:hover{
                color: red;
            }
        }
        
    }
    .currentlink{
        color: red;
    }
}
body{
    margin: 0;
    background-image: url(../images/bg.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 100vh;
    box-sizing: border-box;
    color: white;
    font-family: 'Bebas Neue';
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    main{
        display: flex;
        justify-content: space-between;
        padding: 35px 35px 0 35px;
        .dark{
            position: absolute;
            background-color:rgba(0,0,0, 0.9);
            width: 100%;
            height: 100%;
            left: 0;    
            top: 0;
            z-index: 4;
        }
        .popup{
            position: absolute;
            top: 50%;
            left: 50%;
            color: black;
            width: 400px;
            background-color: white;
            height: 500px;
            z-index: 5;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            .cross{
                color: black;
                background-color: #fff;
                border: 0;
                cursor: pointer;
                font-size: 35px;
                position: absolute;
                right: 10px;
                top: 5px;
                transition: .3s;
                &:hover{
                    color: red;
                }
                &:focus{
                    outline: 0; 
                    color: red;
                }
            }
            h2{
                color: black;
                margin-top: 40px;
                font-size: 30px;
            }
            input{
                width: 100%;
                box-sizing: box-sizing;
                border: 1px solid #444;
                margin-bottom: 30px;
                height: 30px;
                font-family: 'Bebas Neue';
                font-size: 20px;
                letter-spacing: 1px;
                text-transform: none;
                padding: 5px 10px;

            }
            label{
                margin-bottom: 10px;
                display: block;
                font-size: 20px;
            }
            form{
                width: 80%;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                align-items: center;
                button{
                    padding: 15px 50px; 
                    cursor: pointer;
                    font-family: 'Bebas Neue';
                    font-weight: 700;
                    font-size: 20px;
                    background-color: #fff;
                    color: white;
                    transition: .2s;
                    background-color: black;
                    border: 1px solid white;
                    &:hover{
                        background-color: #fff;
                        color: black;
                        border: 1px solid black;
                    }
                }
            }
        }
        .contacts{
            display: flex;
            margin-top: 15px;
            .contact{
                display: flex;
                font-size: 30px;
                margin-right: 35px;
                transition: .2s;
                svg path{
                    transition: .2s;
                }
                &:hover{
                    color: red;
                    svg path{
                        fill: red;
                    }
                }
                p{
                    margin: 0;
                }
                .image-contact{
                    margin-right: 10px;
                    margin-top: 2px;
                }
            }
        }
        h1{
            font-size: 40px;
            margin-top: 35px;
            margin-bottom: 20px;
        }
        .main-info{
            width: 530px;
            >p{
                font-size: 20px;
                width: 490px;
                line-height: 1.5;
                margin: 0;
                margin-bottom: 5px;
            }
        }
        .line{
            background-color: #fff;
            border: 0;
            margin-top: 20px;
            height: 10px;
        }
        .button-social{
            display: flex;
            margin-top: 30px;
            align-items: center;
            justify-content: space-between;
            button{
                border: 0;
                text-transform: uppercase;
                font-family: 'Bebas Neue';
                font-weight: 700;
                background-color: #fff;
                padding: 16px 42px;
                padding-bottom: 14px;
                cursor: pointer;
                font-size: 20px;
                margin-right: 90px;
                transition: .3s;
                position: relative;
                margin-bottom: 30px;
                &:after{                                        
                    height: 3px;
                    position: absolute;
                    bottom:0;
                    left: 0;
                    background-color: red;
                    content: '';
                    width: 100%;
                    transition: .3s;
                }
                &:before{                                        
                    height: 3px;
                    position: absolute;
                    bottom:0;
                    left: 50%;
                    background-color: black;
                    content: '';
                    width: 0%;
                    transition: .5s;
                }
                &:hover::before{
                    width: 100%;
                    left: 0;
                }
                &:hover::after{
                    width: 0;
                    left:50%;
                }
                &:focus{
                    outline: 2px solid rgb(99, 99, 255);
                }
            }
            .social {
                display: flex;
                align-items: center;
                a:hover{
                    svg path{
                        fill: red;
                    }
                }
                a svg path{
                    transition: .2s;
                }
                a:not(:last-child){
                    margin-right: 35px;
                }
            }
            .facebook-link{
                margin-top: 6px;
            }
        }
    }
}
.menu{
    background: rgba(25, 25, 25, 0.7);
    width: 100%;
    padding-top: 15px;
    padding-bottom: 18px;
    ul{
        display: flex;
        width: 100%;
        justify-content: space-around;
        .currentlink{
            color: red;
            svg path{
                fill: red;
            }
        }
        li{
            &:nth-child(1) p,&:nth-child(5) p,&:nth-child(7) p{
                margin-top: 20px;
            }
            width: 130px;
            a{
                display: flex;
                width: 130px;
                flex-direction: column;
                align-items: center;
                transition: .2s;
                p{
                    text-align: center;
                    width: 90px;
                    font-size: 16px;
                    line-height: 16px;
                    margin-bottom: 0;
                }
                svg path{
                    transition: .2s;
                }
                &:hover{
                    color: red;
                    svg path{
                        fill: red;
                    }
                }
            }
        }
    }
}
.hidden{
    display: none !important;
}
@media only screen and (max-width: 1200px) {
    .menu{
        display: none;
    }
    .burger{
        display: block;
        margin-right: 30px;
        margin-top: 30px;
    }
    .mobile-menu{
        display: block;
        height: 100vh;
    }
    body{
        main{
            flex-direction:column;
            align-items: center;
            .logo{
                align-self: flex-start;
                margin-bottom: 20px;
                width: 100px;
                img{
                    width: 100px;
                }
            }
            h1{
                margin-top: 10px;
            }
        }
    }
}
@media only screen and (max-width: 992px) {
    body{
        main{
            .logo{
                width: 100px;
                img{
                    width: 80px;
                }
            }
            h1{
                margin-top: 10px;
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    
}
@media only screen and (max-width: 576px) {
    body{
        main{
            .logo{
                margin-bottom: 5px;
            }
            .main-info{
                width: 100%;
                > p{
                    width: 100%;
                }
                .contact{
                    font-size: 20px;
                    margin-right: 10px;
                    p{
                        margin-top: 5px;
                    }
                }
                .button-social{
                    flex-direction: column;
                    button{
                        margin-right: 0;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 476px) {
    body{
        .mobile-menu{
            padding: 0;
            ul{
                padding: 0;
            }
            li:first-child{
                margin-top: 10px;
            }
        }
        .burger{
            
            margin-right: 5px;
            margin-top: 5px;
        }
        main{
            padding: 10px;
            .popup{
                width: 300px;
            }
            .logo{
                width: 50px;
                img{
                    width: 50px;
                }
            }
            .main-info{
                .contact{
                    .image-contact{
                        width: 20px;
                        margin-right: 5px;
                        svg{
                            width: 20px;
                        }
                    }
                    p{
                        font-size: 17px;
                        margin-top: 7px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 376px) {
    body{
        main{
            .main-info{
                .contacts{
                    flex-direction: column  ;
                }
                .contact{
                    .image-contact{
                        width: 20px;
                        margin-right: 5px;
                        svg{
                            width: 20px;
                        }
                    }
                    p{
                        font-size: 20px;
                        margin-top: 7px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 376px) {
    body{
        main{
            .popup{
                width: 260px;
            }
            .logo{
                margin-bottom: 0px;
            }
            .main-info{
                h1{
                    margin-top: 0;
                    font-size: 30px;
                    margin-bottom: 10px;
                }
                >p{
                    font-size: 15px;
                }
                .button-social{
                    margin-top: 15px;
                }
            }
        }
        
    }
}
.burger-middle{
    width: 0 !important;
    transform: translateX(100%);
    opacity: 0;
    
}
.burger-top{
    transform: translateY(8px) rotate(45deg);
    background-color: red !important;
}
.burger-bottom{
    transform: translateY(-8px) rotate(-45deg);
    background-color: red !important;
}
.mobile-menu-visible{
    transform: translateY(0);
    visibility: visible;
}